# CHICKEN PRICES IN INDIA

Epp Haavasalu, Grete Hollo

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
prices_df = pd.read_csv('chicken_prices_india.csv', sep=',')
prices = prices_df.values

In [54]:
df = pd.DataFrame(prices_df)
df

,Year,Month,District,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
0,2018,February,Abhayapuri(Shalimar),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018,February,Biswantahchariali(Shalimar),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018,February,Bokajan(Shalimar),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,February,Golaghat(Shalimar),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,February,Jagiroad(Shalimar),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4766,2021,September,Samrala(General),112.0,112.0,112.0,113.0,113.0,105.0,107.0,...,100.0,100.0,97.0,97.0,97.0,97.0,99.0,96.0,90.0,NaN
4767,2021,September,Samrala(Venkys),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4768,2021,September,Sangrur(General),112.0,112.0,112.0,113.0,113.0,105.0,107.0,...,100.0,100.0,96.0,96.0,96.0,96.0,98.0,96.0,90.0,NaN
4769,2021,September,Sarthebari(Shalimar),120.0,120.0,120.0,120.0,120.0,112.0,112.0,...,108.0,108.0,115.0,115.0,115.0,115.0,115.0,115.0,115.0,NaN
4770,2021,September,Una(General),112.0,112.0,112.0,113.0,113.0,106.0,108.0,...,100.0,100.0,98.0,98.0,98.0,98.0,100.0,96.0,90.0,NaN